@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #24bee1;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #24bee1;
  }
}

body {
  color: var(--text-color)
}
.text-custom-color {
  color: var(--text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
